{
  "ignore": ["node_modules"],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ],
  "plugins": ["ramda", "emotion"]
}
